.page-container {
  /* padding: 0px;
  display: flex;
  justify-content: center; */
  margin: 20px;
  /* min-height: calc(100vh - 56px); */
  /* width: 100%; */
  /* background: red; */
  max-width: 100%;
}

.content-wrapper {
  width: 100%;
  /* max-width: 800px; */
}

h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}
